body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.padding-grande {
  padding: 100px 0 100px 0;
}

.padding-pequeno {
  padding: 20px 0 0 0;
}

.padding-top-pequeno {
  padding: 20px 0px 0px 0;
}

/* Header css */

#header {
  background-image: url("../images/bg-geometrico.png");
  background-repeat: no-repeat;
  background-color: white;
}

#header h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.esquerda {
  border-bottom: solid black 4px;
  border-left: solid black 4px;
  border-top: solid black 4px;
  border-radius: 3px;
  width: 20px;
  display: table;
  margin-bottom: 20px;
}

.direita {
  border-bottom: solid black 4px;
  border-right: solid black 4px;
  border-top: solid black 4px;
  border-radius: 3px;
  width: 20px;
  margin-bottom: 20px;
}

/* Corpo css */

#corpo {
  color: white;
  background-image: url("../images/bg-amarelo.png");
  background-color: rgb(255, 202, 18);
  background-repeat: no-repeat;
  padding: 100px 0 100px 0;
}

#corpo .esquerda, #corpo .direita {
  border-color: white;
}

#corpo h1 {
  text-transform: uppercase;
}

/* Form */

#corpo .lead {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 0px;
}

#corpo .botao-azul {
  text-transform: uppercase;
  border-radius: 64px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

/* Depoimentos */

.quote {
  font-size: 90px;
  line-height: 20px;
  font-weight: 800;
  color: rgb(255, 202, 18);
}

.autor-depoimento .nome {
  font-weight: 900;
  color: rgb(255, 96, 38);
}

.autor-depoimento .rede-social {
  color: rgb(133, 131, 168);
  font-size: 12px;
}

.autor-depoimento .curso {
  color: rgb(6, 197, 214);
  font-weight: 900;
}

.botao-laranja {
  background-color: rgb(255, 96, 38);
  color: white;
  border-radius: 64px;
  border-color: rgb(255, 96, 38);
  padding: 10px 20px 10px 20px;
}

.botao-laranja:hover {
  cursor: pointer;
  background-color: rgb(255, 120, 50);
  border-color: rgb(255, 96, 38);
}

/* Machado de assis section */

/* Vantagens */

#vantagens {
  background-image: url("../images/esquadro.png");
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: inset 0 0 0 1000px rgba(24,203,196,0.4);
}

#vantagens .lead {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  line-height: 5px;
}



